<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net configSource="log4net.config" />
	<appSettings>
		<add key="ApplicationVersion" value="0.0.0.1"/>
		<add key="InitPictureBox" value="your path to application\Ico\Icon.JPG"/>
		<add key="AzureVisionKey" value="your azure ki vision key"/>
		<add key="AzureVsionEndpoint" value="your azure ki vision endpoint"/>
		<add key="AccessKeyId" value="your aws accesskey"/>
		<add key="SecretAccessKey" value="your aws secret access key"/>
		<add key="APIKey" value="your openai api key"/>
		<add key="BaseAddress" value="your openai base address"/>
	</appSettings>
</configuration>